::-webkit-scrollbar{
    display: none;
}
.activeLink{
    border:1px solid rgb(255, 0, 128);
    color:white;
    font:bold
}
.activex{
    background: rgb(27, 33, 42);
    border-radius: .3em;
}
.bgx{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.transchild{
    transform: translateX(-500px);
}

.bgx:hover > .transchild{
    transform: scale(2);
    background: rgba(0, 0, 0, 0.591);
    transform: translateX(0);
}
.bgn{
    background: rgba(0, 0, 0, 0.7);
}
